.cabecalho {
  width: 400px;
  margin: auto;
  text-align: start;
}

.obs {
  font-size: 0.8em;
  font-style: italic;
}

.lista {
  list-style-type: none;
  text-align: start;
}

.texto {
  text-align: justify;
  color: aliceblue;
}

.teste {
  border: solid 1px red;
}
